@use 'sass:color';

$color-white: #fff;
$color-grey: #faf5f5;
$color-red: #f52727;
$color-dark-red: #331e18;
$color-coal: #191818;
$color-black: #111;

$color-detail: fade-out($color-coal, $alpha-5);
$color-muted-dark: fade-out($color-coal, $alpha-4);
$color-muted-bright: fade-out($color-grey, $alpha-4);

$color-brand: $color-red;
$color-text: $color-coal;

$color-action: $color-brand;
$color-action-hover: color.adjust(
  $color: $color-action,
  $lightness: 5%,
);
