@import '../functions/unit';

$unit-base-unitless: 8;
$unit-base: rem($unit-base-unitless);

$grid-total-columns: 12;
$grid-column-width: unit(11);
$grid-gutter-width: unit(4);

$nav-height-small: rem(49px);
$nav-height-big: unit(11);

