<footer class="footer">

  <div class="grid-row">
    <div class="grid-col-1">1</div>
    <div class="grid-col-1">1</div>
    <div class="grid-col-1">1</div>
    <div class="grid-col-1">1</div>
    <div class="grid-col-1">1</div>
    <div class="grid-col-1">1</div>
    <div class="grid-col-1">1</div>
    <div class="grid-col-1">1</div>
    <div class="grid-col-1">1</div>
    <div class="grid-col-1">1</div>
    <div class="grid-col-1">1</div>
    <div class="grid-col-1">1</div>
  </div>
</footer>
