<div class="grid-wrapper">
  <div class="grid-row" style="margin-bottom: 1rem">
    <div class="grid-col-2-tablet grid-col-3-desktop-small" style="background: red; height: 2rem"></div>
    <div class="grid-col-2-tablet grid-col-3-desktop-small" style="background: blue; height: 2rem"></div>
    <div class="grid-col-2-tablet grid-col-3-desktop-small" style="background: red; height: 2rem"></div>
    <div class="grid-col-2-tablet grid-col-3-desktop-small" style="background: blue; height: 2rem"></div>
  </div>
  <div class="grid-row" style="margin-bottom: 1rem">
    <div class="grid-col-4-tablet grid-col-6-desktop-small" style="background: red; height: 2rem"></div>
    <div class="grid-col-4-tablet grid-col-6-desktop-small" style="background: blue; height: 2rem"></div>
  </div>
  <div class="grid-row" style="margin-bottom: 1rem">
    <div class="grid-col-2-tablet grid-col-2-desktop-small" style="background: red; height: 2rem"></div>
    <div class="grid-col-4-tablet grid-col-4-desktop-small" style="background: blue; height: 2rem"></div>
    <div class="grid-col-2-tablet grid-col-3-desktop-small" style="background: red; height: 2rem"></div>
    <div class="grid-col-4-tablet grid-col-1-desktop-small" style="background: blue; height: 2rem"></div>
    <div class="grid-col-4-tablet grid-col-2-desktop-small" style="background: red; height: 2rem"></div>
  </div>
  <div class="grid-row" style="margin-bottom: 1rem">
    <div class="grid-col-4-tablet grid-col-4-desktop-small" style="background: red; height: 2rem"></div>
    <div class="grid-col-4-tablet grid-col-4-desktop-small" style="background: blue; height: 2rem"></div>
    <div class="grid-col-8-tablet grid-col-4-desktop-small" style="background: red; height: 2rem"></div>
  </div>
  <div class="grid-row" style="margin-bottom: 1rem">
    <div class="grid-col-1-tablet grid-col-1-desktop-small" style="background: red; height: 2rem"></div>
    <div class="grid-col-1-tablet grid-col-1-desktop-small" style="background: blue; height: 2rem"></div>
    <div class="grid-col-1-tablet grid-col-1-desktop-small" style="background: red; height: 2rem"></div>
    <div class="grid-col-1-tablet grid-col-1-desktop-small" style="background: blue; height: 2rem"></div>
    <div class="grid-col-1-tablet grid-col-1-desktop-small" style="background: red; height: 2rem"></div>
    <div class="grid-col-1-tablet grid-col-1-desktop-small" style="background: blue; height: 2rem"></div>
    <div class="grid-col-1-tablet grid-col-1-desktop-small" style="background: red; height: 2rem"></div>
    <div class="grid-col-1-tablet grid-col-1-desktop-small" style="background: blue; height: 2rem"></div>
    <div class="grid-col-2-tablet grid-col-1-desktop-small" style="background: red; height: 2rem"></div>
    <div class="grid-col-2-tablet grid-col-1-desktop-small" style="background: blue; height: 2rem"></div>
    <div class="grid-col-2-tablet grid-col-1-desktop-small" style="background: red; height: 2rem"></div>
    <div class="grid-col-2-tablet grid-col-1-desktop-small" style="background: blue; height: 2rem"></div>
  </div>
  <div class="grid-row" style="margin-bottom: 1rem">
    <div class="grid-col-1-tablet grid-col-1-desktop-small" style="background: red; height: 2rem"></div>
    <div class="grid-col-6-tablet grid-col-10-desktop-small" style="background: blue; height: 2rem"></div>
    <div class="grid-col-1-tablet grid-col-1-desktop-small" style="background: red; height: 2rem"></div>
  </div>
  <div class="grid-row" style="margin-bottom: 1rem">
    <div class="grid-col-8-tablet grid-col-12-desktop-small" style="background: red; height: 2rem"></div>
  </div>
</div>
