<li class="journey__event">
  <div class="journey__left">
    <h2 class="journey__event-date">{{ year }}</h2>
    {% if myAge %}
      <p class="journey__event-age">{{ myAge }} years old</p>
    {% endif %}
  </div>
  <div class="journey__right">
    <h3 class="journey__event-title">{{ title | markdownify('inline') | safe }}</h3>
    <div class="journey__event-blurb">{{ content | safe }}</div>
  </div>
</li>
