<header class="page-header page-header--align-{{ header.textAlign }}">
  <h1 class="page-header__heading">{{ header.heading }}</h1>
  <div class="page-header__blurb">
    {{ header.blurb | markdownify | safe }}
  </div>
</header>
