<li class="words__post">
  <a href="{{ post.url }}" class="words__link" title="{{ post.data.title }}">
    <h2 class="words__title">{{ post.data.title }}</h2>
    <p class="words__excerpt">{{ post.data.excerpt }}</p>
  </a>
</li>
