<nav class="navigation">
  <ul class="navigation__list">
    <li class="navigation__item navigation__item--home"><a class="navigation__link" href="/">Home</a></li>

    {% for link in navigation.links %}
      <li class="navigation__item">
        <a class="navigation__link" href="{{ link.url | url }}">{{ link.label }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>
