<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/history/">The History</a></li>
    <li><a href="/designer/">The Designer</a></li>
    <li><a href="/photographer/">The Photographer</a></li>
    <li><a href="/writer/">The Writer</a></li>
  </ul>
</nav>
