@mixin grid($has-gap: true) {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  @if $has-gap {
    column-gap: unit(2);
  }

  @include breakpoint-above-tablet {
    grid-template-columns: repeat(6, 1fr);
    @if $has-gap {
      column-gap: unit(4);
    }
  }

  @include breakpoint-above-desktop-small {
    grid-template-columns: repeat(12, 1fr);
  }
}

@mixin horizontal-paddings() {
  padding-left: unit(3);
  padding-right: unit(3);

  @include breakpoint-above-tablet {
    padding-left: unit(4);
    padding-right: unit(4);
  }
}
