.grid-row {
  @include breakpoint-above-tablet {
    @include grid-row();

    margin-top: $grid-gutter-width / 1;
    margin-bottom: $grid-gutter-width / 1;
  }
}

// Generate atomic CSS classes for grid columns
$columns: $grid-total-columns;

@while $columns > 0 {
  .grid-col-#{$columns} {
    &:last-of-type {
      margin-right: 0;
    }
  }

  .grid-col-#{$columns}-tablet {
    @include breakpoint-above-tablet {
      @include grid($columns, $grid-total-columns);
    }
  }

  .grid-col-#{$columns}-desktop-small {
    @include breakpoint-above-desktop-small {
      @include grid($columns, $grid-total-columns);
    }
  }

  $columns: $columns - 1;
}
