---
layout: base
bodyClass: home
pageCss: home
permalink: /index.html
metadata:
  description: Developer by trade. Designer at heart.
---

<header class="home__header">
  <h1 class="home__title">{{ site.brand }}</h1>
  <p class="home__blurb">{{ site.title }}</p>
</header>

<p class="home__about">
  I design and develop websites in a semantic way, using technologies that leverage separation of concerns and allow browsers to do their thing.
  This often means using HTML in a smart way, relying on CSS as much as possible and using JavaScript sparingly and as a last resort.
  I’m also a big proponent of clear and structured communication as well as documenting and implementing internal tools.
</p>

<ul class="home__list">
  <li class="home__item">
    <a class="home__link" href="https://github.com/{{ site.social.github }}/">GitHub</a>
  </li>
  <li class="home__item">
    <a class="home__link" href="https://twitter.com/{{ site.social.twitter }}">Twitter</a>
  </li>
  <li class="home__item">
    <a class="home__link" href="https://instagram.com/{{ site.social.instagram }}">Instagram</a>
  </li>
  <li class="home__item">
    <a class="home__link" href="https://www.last.fm/user/{{ site.social.lastfm }}">Last.fm</a>
  </li>
  <li class="home__item">
    <a class="home__link" href="mailto:{{ site.email }}">Mail</a>
  </li>
</ul>
