.home {
  background-color: $color-background;
  color: $color-text;

  &__main {
    min-height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url('/static_assets/images/logo-red.svg');
    background-repeat: no-repeat;
    background-size: 150vw;
    background-position: -60vw 42vh;
    padding: unit(8) unit(4);

    @include breakpoint-above-tablet {
      padding: unit(10) unit(10);
      background-size: 100vw;
      background-position: -17vw 41vh;
    }

    @include breakpoint-above-desktop-small {
      padding: unit(14) unit(14);
    }
  }

  &__header {
  }

  &__heading {
    @include text-jumbo;

    margin-bottom: unit(4);

    @include breakpoint-above-tablet {
      margin-bottom: unit(6);
    }

    @include breakpoint-above-desktop-small {
      margin-bottom: unit(8);
    }
  }

  &__subheading {
    @include text-subtitle;

    margin-bottom: unit(4);

    @include breakpoint-above-tablet {
      margin-bottom: unit(6);
    }

    @include breakpoint-above-desktop-small {
      margin-bottom: unit(8);
    }
  }

  &__button {
    @include button;
  }
}
