.journey {
  &__main {
    @include horizontal-paddings();

    margin-top: unit(4);

    @include breakpoint-above-tablet {
      margin-top: unit(9);
    }

    @include breakpoint-above-desktop-small {
      margin-top: unit(10);
    }

    @include breakpoint-above-desktop-large {
      margin-top: unit(12);
    }
  }

  &__events {
    @include grid();

    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__left {
    display: flex;
    align-items: baseline;
    margin-bottom: unit(2);

    @include breakpoint-above-tablet {
      grid-column: 1 / span 2;
      margin-bottom: 0;
      display: block;
      text-align: right;
    }

    @include breakpoint-above-desktop-small {
      grid-column: 1 / span 4;
    }
  }

  &__right {
    @include breakpoint-above-tablet {
      grid-column: 3 / span 4;
    }

    @include breakpoint-above-desktop-small {
      grid-column: 5 / span 6;
    }
  }

  &__event {
    padding-top: unit(4);
    padding-bottom: unit(4);
    grid-column: 1 / span 4;

    &:last-of-type {
      padding-bottom: 0;
    }

    @include breakpoint-above-tablet {
      @include grid();

      grid-column: 1 / span 6;
    }

    @include breakpoint-above-desktop-small {
      padding-top: unit(8);
      padding-bottom: unit(8);

      grid-column: 1 / span 12;
    }

    &-date {
      @include text-jumbo();
    }

    &-age {
      @include text-body();

      margin: 0;
      margin-left: unit(1);
      color: $color-text-muted;

      @include breakpoint-above-tablet {
        margin-left: 0;
        text-align: right;
      }
    }

    &-title {
      @include text-markdown();
      @include text-subtitle();

      margin-bottom: unit(1);

      @include breakpoint-above-tablet {
        padding-top: unit(1);
      }

      @include breakpoint-above-desktop-large {
        padding-top: unit(1.5);
      }
    }

    &-blurb {
      @include text-body();
      @include text-markdown();

      margin: 0;
    }

  }

  &__separator {
    @include text-jumbo();

    padding-bottom: unit(1);

    @include breakpoint-above-tablet {
      grid-column: 1 / span 2;
      text-align: right;
      width: 100%;
    }

    @include breakpoint-above-desktop-small {
      grid-column: 2 / span 3;
    }
  }
}
