@import url('imports/prism-okaidia.css');

.post {
  &__content {
    @include text-markdown();

    padding-left: unit(3);
    padding-right: unit(3);

    @include breakpoint-above-phone-medium {
      padding-left: unit(8);
      padding-right: unit(8);
    }

    @include breakpoint-above-phone-large {
      padding-left: unit(18);
      padding-right: unit(18);
    }

    @include breakpoint-above-desktop-small {
      padding-left: unit(32);
      padding-right: unit(32);
    }

    @include breakpoint-above-desktop-large {
      padding-left: unit(48);
      padding-right: unit(48);
    }
  }
}
