.footer {
  background-color: $color-white;
  position: relative;

  &__ribbon {
    background-color: $color-brand;
    position: absolute;
    right: unit(3);
    top: 0;
    width: $nav-height-small;
    height: unit(13);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: unit(2);
    padding-left: unit(2);
    padding-right: unit(2);

    @include breakpoint-above-tablet {
      width: unit(8);
      height: unit(20);
      padding-bottom: unit(2.5);
      padding-left: unit(2.5);
      padding-right: unit(2.5);
      right: calc(#{$nav-height-medium} + #{unit(2)});
    }

    @include breakpoint-above-desktop-small {
      width: unit(12);
      height: unit(32);
      padding-bottom: unit(4);
      padding-left: unit(4);
      padding-right: unit(4);
      right: calc(#{$nav-height-big} + #{unit(2)});
    }

    // @include breakpoint-above-desktop-large {
    //   // padding-bottom: unit(5);
    //   // padding-left: unit(5);
    //   // padding-right: unit(5);
    // }
  }

  &__logo {
    width: 100%;
  }

  &__top {
    position: relative;
    padding-top: unit(3);
    padding-bottom: unit(3);
    padding-left: unit(3);

    @include breakpoint-above-tablet {
      padding-top: unit(6);
      padding-bottom: unit(6);
      padding-left: calc(#{$nav-height-medium} + #{unit(2)});
    }

    @include breakpoint-above-desktop-small {
      padding-top: unit(11);
      padding-bottom: unit(11);
      padding-left: calc(#{$nav-height-big} + #{unit(2)});
    }
  }

  &__bottom {
    background-color: $color-grey-light;
    padding-top: unit(2);
    padding-bottom: unit(2);

    @include breakpoint-above-tablet {
      padding-top: unit(4);
      padding-bottom: unit(4);
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: calc(#{$nav-height-medium} + #{unit(2)});
      padding-right: calc(#{$nav-height-medium} + #{unit(2)});
    }

    @include breakpoint-above-desktop-small {
      padding-left: calc(#{$nav-height-big} + #{unit(2)});
      padding-right: calc(#{$nav-height-big} + #{unit(2)});
    }
  }

  &__title {
    @include text-subtitle;

    margin-bottom: unit(2);

    @include breakpoint-above-desktop-small {
      margin-bottom: unit(5);
    }
  }

  &__hosted,
  &__handcrafted {
    @include text-body;

    margin: 0;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;

    // @include breakpoint-above-tablet {
    //   justify-content: flex-start;
    // }
  }

  &__link {
    @include text-link;
  }

  &__author {
    @include text-body;

    text-align: center;
    margin-bottom: 0;
    margin-top: unit(1);

    @include breakpoint-above-tablet {
      margin: 0;
      text-align: right;
    }
  }
}

.footer__list .footer__link {
  margin-left: unit(1);
  margin-right: unit(1);

  @include breakpoint-above-tablet {
    margin-left: 0;
    margin-right: unit(3);
  }

  @include breakpoint-above-desktop-small {
    margin-right: unit(4);
  }
}

.footer__top .grid-row {
  // @include breakpoint-above-tablet {
  //   justify-content: center;
  // }
}
