.footer {
  background-color: $color-white;
  position: relative;

  &__ribbon {
    background-color: $color-brand;
    position: absolute;
    right: $grid-gutter-width;
    top: 0;
    width: $nav-height-small;
    height: $nav-height-small * 2;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: unit(2);
    padding-left: unit(2);
    padding-right: unit(2);

    @include breakpoint-above-tablet {
      @include grid-dimension(1);

      height: unit(20);
      padding-bottom: unit(2.5);
      padding-left: unit(2.5);
      padding-right: unit(2.5);
    }

    @include breakpoint-above-desktop-small {
      right: 11.5%;
      height: unit(32);
      padding-bottom: unit(4);
      padding-left: unit(4);
      padding-right: unit(4);
    }

    @include breakpoint-above-desktop-large {
      // right: 10.6%;
      // height: unit(32);
      padding-bottom: unit(5);
      padding-left: unit(5);
      padding-right: unit(5);
    }
  }

  &__logo {
    width: 100%;
  }

  &__top {
    padding-left: $grid-gutter-width;
    padding-right: $grid-gutter-width;
    padding-top: unit(3);
    padding-bottom: unit(3);

    @include breakpoint-above-tablet {
      padding-top: unit(6);
      padding-bottom: unit(6);
    }

    @include breakpoint-above-desktop-small {
      @include grid-indent(1);
      @include grid-indent-right(1);

      padding-left: 0;
      padding-right: 0;
      padding-top: unit(11);
      padding-bottom: unit(11);
    }
  }

  &__bottom {
    background-color: $color-grey-light;
    padding-top: unit(2);
    padding-bottom: unit(2);

    @include breakpoint-above-tablet {
      padding-top: unit(4);
      padding-bottom: unit(4);
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: $grid-gutter-width;
      padding-right: $grid-gutter-width;
    }

    @include breakpoint-above-desktop-small {
      @include grid-indent(1, $property: padding-left);
      @include grid-indent-right(1, $property: padding-right);
    }
  }

  &__title {
    @include text-subtitle;

    margin-bottom: unit(2);

    @include breakpoint-above-desktop-small {
      margin-bottom: unit(5);
    }
  }

  &__hosted,
  &__handcrafted {
    @include text-body;

    margin: 0;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
  }

  &__link {
    @include text-link;
  }

  &__author {
    @include text-body;

    text-align: center;

    @include breakpoint-above-tablet {
      margin: 0;
    }
  }
}

.footer__list .footer__link {
  margin-left: unit(1);
  margin-right: unit(1);

  @include breakpoint-above-tablet {
    margin-left: 0;
    margin-right: unit(4);
  }
}

