* {
  box-sizing: border-box;
  font-family: $font-family;
}

body {
  background-color: $color-background;
  padding-top: $nav-height-small;

  @include breakpoint-above-tablet {
    padding-top: $nav-height-medium;
  }

  @include breakpoint-above-desktop-small {
    padding-top: $nav-height-big;
  }
}

html,
body {
  height: 100%;
}

html {
  font-size: 4.7vw;

  @include breakpoint-above-phone-medium {
    font-size: 3.7vw;
  }

  @include breakpoint-above-phone-large {
    font-size: 2.7vw;
  }

  @include breakpoint-above-tablet {
    font-size: 2vw;
  }

  @include breakpoint-above-desktop-small {
    font-size: 1.25vw;
  }

  @include breakpoint-above-desktop-large {
    font-size: 1.1vw;
  }
}
