$nav-gutter: rem(35px);

.navigation {
  background-color: $color-white;
  overflow-x: scroll;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;

  &__list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    padding-left: rem(110px);
    list-style: none;
    height: $nav-height-small;
    white-space: nowrap;

    &::after { // Right gradient mask
      content: '';
      width: $nav-gutter;
      height: $nav-height-small;
      background-color: $color-white;
      // stylelint-disable-next-line
      background: linear-gradient(
        90deg,
        fade-out($color-white, 1) 0%,
        $color-white 75%
      );
      position: fixed;
      right: 0;
      top: 0;
    }

    @include breakpoint-above-tablet {
      padding-left: $nav-height-big + $nav-gutter * 2;
      height: $nav-height-big;
    }

    @include breakpoint-above-desktop-small {
      padding-left: 0;
      white-space: normal;
      justify-content: flex-end;

      &::after {
        display: none;
      }
    }
  }

  &__item {
    &--home {
      margin-right: auto;
      background-color: $color-brand;
      background-image: url('/static_assets/images/logo-white.svg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: rem(17px);
      position: fixed;
      left: 0;
      top: 0;
      height: $nav-height-small;
      z-index: 100;
      box-shadow: $nav-gutter / 2 0 $nav-gutter / 2 $color-white;
      transition:
        background-size $timings-slow ease-in-out,
        background-position $timings-slow ease-in-out;

      @include breakpoint-above-tablet {
        background-size: unit(4);
        height: $nav-height-big;

        &:hover {
          background-position: bottom unit(2.4) left unit(2.4);
          background-size: unit(15);
        }
      }

      @include breakpoint-above-desktop-small {
        box-shadow: none;
      }
    }
  }

  &__link {
    @include text-caption($uppercase: true);

    text-decoration: none;
    color: $color-text;
    height: 100%;
    display: block;
    line-height: $nav-height-small;

    @include breakpoint-above-tablet {
      line-height: $nav-height-big;
    }

    @include breakpoint-above-desktop-small {
      line-height: 2.5;
    }
  }
}

.navigation__item--home .navigation__link {
  color: transparent;
  display: block;
  width: $nav-height-small;
  height: 100%;

  @include breakpoint-above-tablet {
    width: $nav-height-big;
  }
}

.navigation__item:not(.navigation__item--home) {
  margin-right: $nav-gutter;
  height: 100%;

  @include breakpoint-above-desktop-small {
    height: auto;
  }

  .navigation__link {
    position: relative;

    &::after {
      content: '';
      display: block;
      width: 0;
      height: rem(2px);
      background-color: $color-action;
      transition: width $timings-normal ease-in-out;
      position: absolute;
      bottom: 0;
    }

    &:hover {
      &::after {
        width: 100%;
      }
    }
  }
}

.navigation__item:last-of-type {
  margin-right: 0;

  // stylelint-disable-next-line
  .navigation__link {
    margin-right: $nav-gutter;
  }
}

