.navigation {
  background-color: $color-white;
  overflow-x: scroll;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: $layers-navigation;

  &__list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    padding-left: unit(12);
    list-style: none;
    white-space: nowrap;

    &::after { // Right gradient mask
      @include grid-dimension(1);
      @include grid-dimension(1, $property: padding-bottom);

      content: '';
      display: block;
      background-color: $color-white;
      // stylelint-disable-next-line
      background: linear-gradient(
        90deg,
        fade-out($color-white, 1) 0%,
        $color-white 75%
      );
      pointer-events: none;
      position: fixed;
      right: 0;
      top: 0;
    }

    @include breakpoint-above-tablet {
      padding-left: unit(16);
    }

    @include breakpoint-above-desktop-small {
      height: unit(13.33);
      padding-left: 0;
      white-space: normal;
      justify-content: flex-end;
      align-items: center;

      &::after {
        display: none;
      }
    }

    @include breakpoint-above-desktop-large {
      height: unit(15.15);
    }
  }

  &__item--home {
    width: $nav-height-small;
    height: $nav-height-small;
    margin-right: auto;
    background-color: $color-brand;
    background-image: url('/static_assets/images/logo-white.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: unit(2);
    position: fixed;
    left: 0;
    top: 0;
    z-index: $layers-navigation;
    box-shadow: $grid-gutter-width / 2 0 $grid-gutter-width / 2 $color-white;
    transition:
      background-size $timings-slow ease-in-out,
      background-position $timings-slow ease-in-out;

    @include breakpoint-above-tablet {
      @include grid-square(1);

      height: auto;
      background-size: unit(3);

      &:hover {
        background-position: bottom unit(2) left unit(2);
        background-size: unit(11);
      }
    }

    @include breakpoint-above-desktop-small {
      box-shadow: none;
      background-size: unit(5);

      &:hover {
        background-position: bottom unit(3) left unit(3);
        background-size: unit(18);
      }
    }

    @include breakpoint-above-desktop-large {
      background-size: unit(5.5);

      &:hover {
        background-position: bottom unit(3.7) left unit(3.7);
        background-size: unit(20);
      }
    }
  }

  &__link {
    @include text-navigation();

    line-height: $nav-height-small;
    text-decoration: none;
    color: $color-text;
    display: block;

    @include breakpoint-above-tablet {
      line-height: 537%; // 🤷‍♂️
    }

    @include breakpoint-above-desktop-small {
      line-height: 2.5;
    }
  }
}

.navigation__item--home .navigation__link {
  color: transparent;
  display: block;
  width: 100%;
  height: $nav-height-small;
  position: absolute;

  @include breakpoint-above-tablet {
    height: 100%;
  }
}

.navigation__item:not(.navigation__item--home) {
  margin-right: $grid-gutter-width;
  height: 100%;

  .navigation__link {
    position: relative;

    &::after {
      content: '';
      display: block;
      width: 0;
      height: rem(2px);
      background-color: $color-action;
      transition: width $timings-normal ease-in-out;
      position: absolute;
      bottom: 0;
    }

    &:hover {
      &::after {
        width: 100%;
      }
    }
  }

  @include breakpoint-above-desktop-small {
    height: auto;
  }
}

.navigation__item:last-of-type {
  margin-right: 0;

  // stylelint-disable-next-line
  .navigation__link {
    margin-right: $grid-gutter-width;
  }
}

