.navigation {
  background-color: $color-white;
  overflow-x: scroll;
  position: fixed;
  width: 100vw;
  height: $nav-height-small;
  top: 0;
  left: 0;
  z-index: $layers-navigation;

  @include breakpoint-above-tablet {
    height: $nav-height-medium;
  }

  @include breakpoint-above-desktop-small {
    height: $nav-height-big;
  }

  // Gradient masks
  &::before {
    left: $nav-height-small;
    right: auto;
    transform: rotate(180deg);

    @include breakpoint-above-tablet {
      left: $nav-height-medium;
    }
  }

  &::after,
  &::before {
    width: $nav-height-small / 2;
    height: $nav-height-small;
    content: '';
    display: block;
    background-color: $color-white;
    // stylelint-disable-next-line
    background: linear-gradient(
      90deg,
      fade-out($color-white, 1) 0%,
      $color-white 75%
    );
    pointer-events: none;
    position: fixed;
    top: 0;
    right: 0;
    z-index: $layers-navigation;

    @include breakpoint-above-tablet {
      width: $nav-height-medium / 2;
      height: $nav-height-medium;
    }

    @include breakpoint-above-desktop-small {
      display: none;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    padding-left: unit(10);
    list-style: none;
    white-space: nowrap;

    @include breakpoint-above-tablet {
      padding-left: 0;
      justify-content: flex-end;
    }

    @include breakpoint-above-desktop-small {
      white-space: normal;
      align-items: center;
      height: $nav-height-big;
    }
  }

  &__link {
    @include text-navigation();

    line-height: $nav-height-small;
    text-decoration: none;
    color: $color-text;
    display: block;

    @include breakpoint-above-tablet {
      line-height: $nav-height-medium;
    }

    @include breakpoint-above-desktop-small {
      line-height: $nav-height-big;
    }
  }

  &__item--home {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    .navigation__link {
      width: $nav-height-small;
      height: $nav-height-small;
      margin-right: auto;
      background-color: $color-brand;
      background-image: url('/static_assets/images/logo-white.svg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: unit(2);
      position: fixed;
      left: 0;
      top: 0;
      z-index: $layers-navigation;
      transition:
        background-color $timings-fast $timings-ease-out-quart;

      @include breakpoint-above-tablet {
        width: $nav-height-medium;
        height: $nav-height-medium;
        background-size: unit(3);

        &:hover,
        &:focus {
          background-color: $color-action-hover;
        }
      }

      @include breakpoint-above-desktop-small {
        width: $nav-height-big;
        height: $nav-height-big;
        background-size: unit(4);
      }
    }
  }
}

.navigation__item--home .navigation__link {
  color: transparent;
  display: block;
  width: $nav-height-small;
  height: $nav-height-small;
  position: absolute;

  @include breakpoint-above-tablet {
    width: $nav-height-medium;
    height: $nav-height-medium;
  }

  @include breakpoint-above-desktop-small {
    width: $nav-height-big;
    height: $nav-height-big;
  }
}

.navigation__item:not(:last-of-type) {
  margin-right: unit(4);

  @include breakpoint-above-tablet {
    margin-right: unit(5);
  }

  @include breakpoint-above-desktop-small {
    margin-right: unit(6);
  }
}

.navigation__item:last-of-type {
  .navigation__link {
    margin-right: unit(4);

    @include breakpoint-above-tablet {
      margin-right: unit(6);
    }
  }
}

.navigation__item:not(.navigation__item--home) {
  .navigation__link {
    position: relative;

    // Fake underline
    &::after {
      content: '';
      display: block;
      width: 0;
      height: 2px;
      background-color: $color-action;
      transition: width $timings-slower $timings-ease-out-quart;
      position: absolute;
      bottom: 0;
      will-change: width;
    }

    &:hover,
    &:focus {
      &::after {
        width: 100%;
      }
    }
  }

  &.navigation__item--active {
    .navigation__link {
      &::after {
        width: 98%;
      }
    }
  }
}
