.page-header {
  padding-top: unit(6);
  padding-bottom: unit(6);
  padding-left: unit(3);
  padding-right: unit(3);

  @include breakpoint-above-phone-medium {
    padding-left: unit(8);
    padding-right: unit(8);
  }

  @include breakpoint-above-phone-large {
    padding-left: unit(18);
    padding-right: unit(18);
  }

  @include breakpoint-above-tablet {
    padding-top: unit(8);
    padding-bottom: unit(8);
  }

  @include breakpoint-above-desktop-small {
    padding-top: unit(16);
    padding-bottom: unit(16);
    padding-left: unit(32);
    padding-right: unit(32);
  }

  @include breakpoint-above-desktop-large {
    padding-left: unit(48);
    padding-right: unit(48);
  }

  &__heading {
    @include text-title;

    text-align: center;
    margin-top: 0;
    margin-bottom: unit(1);
  }

  &__date {
    @include text-body();

    text-align: center;
    display: block;
    color: $color-text-muted;
  }

  &__blurb {
    @include text-subtitle;

    margin-top: unit(2);

    @include breakpoint-above-tablet {
      margin-top: unit(6);
    }
  }
}
