---
layout: base
title: Lots of history!
hasFooter: true
---

<ul>
{% for event in collections.history %}
  <li>
    <a href="{{ event.url }}">
      <h2>{{ event.data.title }}</h2>
      <p>{{ event.date }}</p>
      <p>{{ event.data.description }}</p>
    </a>
  </li>
{% endfor %}
</ul>
