---
layout: base
title: The History
header:
  heading: The History
  blurb: Developing websites is both fun and challenging. Not only through the design process, but also the implementation. I get to regularly try new approaches and do things I haven't done before.
  textAlign: left
bodyClass: history
hasFooter: true
---
{% include "_page-header.njk" %}

<ul class="history__events">
  {% for event in collections.history | reverse %}
    {% set year = event.date.getFullYear() %}
    {% set myAge = year - site.author.born %}
    {% set title = event.data.title %}
    {% set blurb = event.data.blurb %}
    {% set content = event.templateContent %}

    {% if loop.last %}
      <li class="history__separator"><span class="history__separator-text">…</span></li>
    {% endif %}

    {% include "_history-event.njk" %}
  {% endfor %}
</ul>
