---
layout: base
title: The History
header:
  heading: The History
  blurb: Developing websites is both fun and challenging. Not only through the design process, but also the implementation. I get to regularly try new approaches and do things I haven't done before.
  textAlign: left
bodyClass: history
hasFooter: true
---
{% include "_page-header.njk" %}

<ul>
{% for event in collections.history %}
  <li>
    <a href="{{ event.url }}">
      <h2>{{ event.data.title }}</h2>
      <p>{{ event.date }}</p>
      <p>{{ event.data.description }}</p>
    </a>
  </li>
{% endfor %}
</ul>

