---
layout: base
bodyClass: home
heading: Developer by trade.<br>Designer at heart.
---

<header class="home__header">
  <h1 class="home__heading">{{ heading | safe }}</h1>
  <h2 class="home__subheading">I’m {{ site.author.name }} from {{ site.author.city }}, {{ site.author.country }}.</h2>
  <a class="home__button" href="/history/">Tell me more</a>
</header>
