---
layout: base
title: Photos
header:
  heading: Photos
  blurb: Developing websites is both fun and challenging. Not only through the design process, but also the implementation. I get to regularly try new approaches and do things I haven't done before.
bodyClass: photos
hasFooter: true
---
{% include "_page-header.njk" %}

<ul class="photos__albums">
  {% for album in collections.album | reverse %}
    {% include "_photos-album.njk" %}
  {% endfor %}
</ul>
