---
layout: base
title: Here's photos!
hasFooter: true
---

<ul>
{% for photo in collections.photographer %}
  <li>
    <a href="{{ photo.url }}">
      <h2>{{ photo.data.filePath }}</h2>
      <p>{{ photo.data.camera }}</p>
      <p>{{ photo.data.lens }}</p>
    </a>
  </li>
{% endfor %}
</ul>
