---
layout: base
title: Photos
bodyClass: photos
hasFooter: true
---
<ul class="photos__albums">
  {% for album in collections.album | reverse %}
    {% include "_photos-album.njk" %}
  {% endfor %}
</ul>
