---
layout: base
title: Projects
header:
  heading: Projects
  blurb: Developing websites is both fun and challenging. Not only through the design process, but also the implementation. I get to regularly try new approaches and do things I haven't done before.
bodyClass: projects
hasFooter: true
---

<div class="projects__grid">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>
